.custom-overlay {
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  width: 245px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.5;
}

.close-button {
  position: absolute;
  top: 1px;
  right: -15px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #666;
}

.title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.address {
  font-size: 10px; /* 주소 글자 크기 조정 */
}

.jibun {
  font-size: 10px;
  color: #666;
  margin-top: 3px;
  display: block;
}

.tel {
  margin-bottom: 8px;
  color: #4285F4;
  font-weight: bold;
}

.opening-hours {
  margin-bottom: 8px;
}

.reviews {
  margin-top: 8px;
}

.review {
  margin-bottom: 4px;
}

.reviewer {
  font-weight: bold;
  margin-right: 3px;
}

.review-text {
  color: #666;
}
